@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.button {
  background-color: #b2a8ee; /* Green */
  border: none;
  border-radius: 5px;
  color: 0f0b21;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  border: solid white;
}

.search-bar {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1em 1em 1em 1em;
}

.container {
  min-height: 100wv;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: stretch;
}

.form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  padding: 1em;
  background: #7269ff;
  border-radius: 15px;
  text-transform: capitalize;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.greetings {
  display: flex;
  flex-flow: column;
  padding: 0em 5em 0em 5em;
  font-family: "JosefinSans";
  font-weight: normal;
  /* width: 70vw; */
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 24px;
  font-size: 16px;
  background-color: white;
  background-image: url("https://www.w3schools.com/css/searchicon.png ");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.jumbotron {
  display: flex;
  flex-flow: column;
  background-color: white;
  margin: 1em 0em 1em 0em;
  max-width: 100vw;
}

#jumboImage {
  min-width: 50%;
}

.list-docs {
  border: 1px white solid;
  padding: 0em 1em 0em 1em;
  text-transform: uppercase;
  margin: 1em 0em 1em 0em;
}

.query {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .greetings {
    padding: 1em 1.5em 1em 1.5em;
    /* text-align: justify; */
  }
}

@media screen and (min-width: 1000px) {
}
